# ignore the chroot builds
/chroot-*/*

# ignore habs sub-directory
/habs/*

# ignore hackage sub-directory
/hackage/*

# ignore generated makefile configuration
/config.mk
/dependencies.mk

# ignore script binaries
/scripts/cabal2pkgbuild
/scripts/find-updates
/scripts/findconflicts
/scripts/recdeps
/scripts/reverse_deps
/scripts/toposort
