# ignore the chroot builds
/chroot-*/*

# ignore habs sub-directory
/habs/*

# ignore generated makefile configuration
/config.mk

# ignore script binaries
/scripts/findconflicts
/scripts/findupdates
/scripts/reverse_deps
/scripts/toposort
/scripts/recdeps
/scripts/cabal2pkgbuild
