dist/
*.hi
*.o
*~
.*.swp

# ignore Hackage database
/00-index.tar

# ignore tarballs downloaded by manycabal2arch
*tar.gz

# ignore the chroot builds
/chroot-*

# ignore habs sub-repository
/habs/

# ignore script binaries
/scripts/findconflicts
/scripts/findupdates
/scripts/reverse_deps
/scripts/toposort
